.contact-form { padding-top: 80px; padding-bottom: 80px; }
.contact-form .container { max-width: 700px;}

.half-width { width: 50%; }
.full-width { width: 100%;}
.input-wrap,
.textarea-wrap,
.submit-btn { padding-left: 15px; padding-right: 15px; margin: 10px 0; }
.textarea-wrap textarea { height: 300px; resize: none; }